<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen</p>
<p>Inainte de a scoate React - downloadat local mai intai</p>
<!-- original -->
<!-- <div class="container">
  <button (click)="exportHtml()">Export</button>
  <email-editor (loaded)="editorLoaded($event)"></email-editor>  
</div> -->

<!-- Bogdan version -->
<div class="container">
  <button (click)="saveDesign()">Save Design</button>
  <button (click)="exportHtml()">Export HTML</button>
  <!-- class="editor-container" -->
  <!-- id="editor-container" -->
  <!-- id="testEditorId" -->
  <!-- (init)="editorLoaded($event)" -->
  <!-- [appearance]="appearance" > seems not to be working, but works with [appearance]="{ theme: 'dark' }"-->
  <email-editor
    editorId="MyEditorId"
    [options]="options"
    (loaded)="editorLoaded($event)"
    (ready)="editorReady($event)"
    minHeight="400px"
  ></email-editor>
</div>
